body {
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 40px;
}

.container h1 {
    font-size: 3rem;
    color: cadetblue;
}

.typewriter-container {
    font-size: 1rem;
    font-weight: bold;
    color: palevioletred;
    border-right: 2px solid white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(30, end), blink 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-right-color: white;
    }
    to {
        border-right-color: transparent;
    }
}
.card-img-top {
    width: 100% !important;
    height: 250px !important;          
    object-fit: contain !important;    
    background-color: #f8f9fa;         
    display: flex;
    justify-content: center;         
    align-items: center;               
    padding: 10px;                     
}
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 20px;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

@media (max-width: 992px) {
    .card-img-top {
        height: 200px !important; /* Tablet */
    }
}

@media (max-width: 768px) {
    .container h1 {
        font-size: 2rem;
        text-align: center;
    }

    .typewriter-container {
        font-size: 0.9rem;
        white-space: normal; 
    }

    .card-img-top {
        height: 150px !important; 
    }

    .card-title {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .card-body {
        padding: 10px;
    }
}
