{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trousers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/website.css' %}">
</head>
{% include 'navbar.html' %}
<body>
    <div class="container py-5">
        <h1 class="text-center mb-4">All Trousers Collection</h1>
        <div class="row">
            {% for trouser in trousers %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ trouser.image.url }}" class="card-img-top" alt="{{ trouser.brandname }}">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ trouser.brandname }}</h5>
                        <p><strong>Color:</strong> {{ trouser.color }}</p>
                        <p><strong>Price:</strong> ₹{{ trouser.price }}</p>
                        <a href="{% url 'add_to_cart' trouser.id 'trousers' %}" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
